<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Price</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.id}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.model}}</td>
            <td>{{car.price}}€</td>
            <td><button class="btn btn-outline-primary" routerLink="/detail/{{car.id}}"><i class="far fa-eye"></i>
                    Edit</button></td>
            <td><button class="btn btn-outline-warning" routerLink="/edit/{{car.id}}"><i class="far fa-edit"></i>
                    Edit</button></td>
            <td><button class="btn btn-outline-danger" (click)="delete(car.id!)"><i class="far fa-trash-alt"></i>
                    Delete</button></td>
        </tr>
    </tbody>
</table>